<ion-header>
  <ion-toolbar>
    <ion-title>Tech Formations</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="auth-form">
  <h1>Welcome to Tech Formations</h1>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-align-self-center">
        <br/>
        <br/>
        <br/>

        <ion-button [routerLink]="['/login']" expand="block" color="danger">Sign In</ion-button>
        <br/>
        <span class="divider line one-line">or </span>
        <span class="already">Create Account</span>
        <br/>
        <ion-button [routerLink]="['/registration']" expand="block" color="primary">Register</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>